.container-card-body {
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.user-purchase {
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: center;
    min-width: 155px

}

.user-purchase-title {
    font-family: var(--title);
    font-size: 1.3rem;
    padding-bottom: 18px;
    font-weight: bold;
}

.user-purchase-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.user-purchase-label{
    font-family: var(--title);
    font-size: 1.1rem;
    padding-bottom: 5px;
    color: var(--whiteLabel)

}

.user-purchase-value {
    font-family: var(--text);
    font-size: .9rem;
}

.important-value {
    color: var(--yellow)
}

.user-gains{
    color: var(--whiteLabel);
    font-family: var(--text);
    font-size: .9rem;
    max-width: 190px;
}

.colored-gain {
    color: #00ff00
}

.colored-lost {
    color: #ff0000;
}

/* @media(max-width: 800px){
    .container-card-body {
        flex-wrap: wrap;
    }
} */

