#container-investment-list {
    margin-top: 85px;
}

#container-investment-list, .investiments-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.investiments-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: max-content;
    padding: .5rem 0;
    margin-top: 1.5rem;
}

.investiments-header h1 {
    color: var(--gray);
    font-size: 1.5rem;
    font-family: var(--title);
    width: 100%;
}

#btn-add-investiment {
    color: var(--black);
    background-color: var(--yellow);
    border: solid 3px var(--yellow)
}

#btn-add-investiment:hover {
    background-color: #ecb620;
    border: solid 3px #ecb620;
}

.investiments-header-inputs {
    display: flex;
    align-items: center;
}

#btn-filter {
    width: max-content;
    height: 2rem;
    padding: 0 5px;
    font-size: 1.7rem;
    color: var(--gray);
    margin-right: 1.2rem;
    cursor: pointer;
    background-color: var(--snd-black);
    border-radius: 5px;
}

#investment-list {
    margin-top: 10px;
    width: 60%;
    height: auto;
}

.accordion {
    --bs-accordion-btn-focus-border-color: var(--grafite);
    --bs-accordion-btn-focus-box-shadow:  var(--grafite);
    --bs-accordion-active-color:  var(--grafite);
    --bs-accordion-active-bg:  var(--grafite);
    --bs-accordion-border-color: var(--grafite);
}

