#container-investment-list {
    margin-top: 85px;
}

#container-investment-list, .investiments-view{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.investiments-view {
    width: 60%;
    margin-top: 1.5rem;
}

#list-investment-title {
    display: flex;
    flex-direction: row;
}

.investiments-view h1 {
    color: var(--gray);
    font-size: 1.7rem;
    font-family: var(--title);
    width: 100%;
    max-width: 915px;
}

#investment-list {
    margin-top: 20px;
    width: 60vw;
    height: auto;
    max-height: 70vh;
    max-width: 915px;
}

.accordion {
    --bs-accordion-btn-focus-border-color: var(--grafite);
    --bs-accordion-btn-focus-box-shadow:  var(--grafite);
    --bs-accordion-active-color:  var(--grafite);
    --bs-accordion-active-bg:  var(--grafite);
    --bs-accordion-border-color: var(--grafite);
}

