#container-investment-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
}

#container-investment-list, .investiments-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.investiments-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    height: max-content;
    padding: .5rem 0;
    margin-top: 1.5rem;
    max-width: 920px;
    min-width: 245px;

}

.investiments-header-inputs {
    display: flex;
    min-width: 242px
    
}

.investiments-header h1 {
    color: var(--gray);
    font-size: 1.5rem;
    font-family: var(--title);
    width: 100%;
    min-width: 242px
}


#btn-add-investiment {
    color: var(--black);
    background-color: var(--yellow);
    border: solid 3px var(--yellow);
}

#btn-add-investiment:hover {
    background-color: #ecb620;
    border: solid 3px #ecb620;
}

#btn-filter {
    width: max-content;
    height: 2rem;
    padding: 0 5px;
    font-size: 1.7rem;
    color: var(--gray);
    margin-right: 1.2rem;
    cursor: pointer;
    background-color: var(--snd-black);
    border-radius: 5px;
}

#investment-list {
    margin-top: 10px;
    width: 60%;
    height: auto;
    max-width: 920px;
}

.accordion {
    --bs-accordion-btn-focus-border-color: var(--grafite);
    --bs-accordion-btn-focus-box-shadow:  var(--grafite);
    --bs-accordion-active-color:  var(--grafite);
    --bs-accordion-active-bg:  var(--grafite);
    --bs-accordion-border-color: var(--grafite);
}

@media(max-width: 880px){

    .investiments-header {
        width: 85%;
        justify-content: space-between;
    }

    .investiments-header-inputs {
        align-self: flex-start;
        margin-top: 10px;
    }

    #investment-list {
        width: 85%;
    }
}

@media(max-width: 586px){

    .investiments-header {
        width: 85%;
        flex-direction: column;
        align-items: center !important;
    }

    .investiments-header h1 {
        text-align: center;
    }

    .investiments-header-inputs {
        align-self: center;
        margin-top: 10px;
    }
}
