#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 85px;
    background-color: var(--blue);
}

#header-container-img-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10vw;
}

#img-logo{
    width: 45px;
}

#texto-logo {
    color: var(--gray);
    font-size: 1.7rem;
    font-family: var(--title);
    font-weight: 500;
    margin-left: -8px;
}

#header-container-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 10vw;
    width: 260px;
}

.header-btn {
    width: 100px; 
    height: 2rem;
    border-radius: 5px;
    font-family: var(--text);
    font-size: 0.85rem;
}

#btn-add-invest {
    background-color: var(--blue);
    color: var(--gray);
    border: solid 3px var(--blue)
}

#btn-add-invest:hover {
    color: var(--yellow);
}

#btn-how-use {
    color: var(--black);
    background-color: var(--yellow);
    border: solid 3px var(--yellow)
}

#btn-how-use:hover {
    background-color: #ecb620;
    border: solid 3px #ecb620;
}

.btn-bell {
    font-size: 18px;
    color: var(--gray);
    padding: 0 6%;
    cursor: pointer;
}